<pre>{{ playlist | json }}</pre>
<pre>{{ draft | json }}</pre>

<div class="form-group">
    <label for="">Name:</label>
    <input type="text" class="form-control" maxlength="170" [(ngModel)]="draft.name" #nameRef>
</div>
<p> {{ draft.name.length }} / 170</p>

<div class="form-check mb-3">
    <input class="form-check-input" type="checkbox" [(ngModel)]="draft.public" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault"> Public</label>
</div>

<div class="form-group">
    <label for="">Description:</label>
    <textarea class="form-control" [(ngModel)]="draft.description"></textarea>
</div>

<button class="btn btn-danger" (click)="reset()">Reset</button>
<button class="btn btn-danger" (click)="cancelClick()">Cancel</button>
<button class="btn btn-success" (click)="submit()">Save</button>